<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h4>Hello MadLib, You're Funny!</h4>
    <p>Dear @Model.Noun,</p>
    <p>How are you? I hope that you are having a nice weekend. I'm vacationing in Iceland while programming! </p>
    <p> you would not believe how @Model.Adjective it is here. I should have gone to @Model.Adverb instead.</p>
    <p>But I like programming a lot, so I've got that going for me. </p>
    <p>Looking forward to seeing you soon @Model.Verb . </p>
    <p>Cheers!</p>
   
  </body>
</html>