<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h4>Fill in each section to create your custom madlib!</h4>

@* pick a madlib to play *@

    @* <button><a href="/funny/new">Go Mad Funny!</a></button> *@
    <button><a href="/funny">Go Mad Funny!</a></button>

    <a href="/scary">Go Mad Scary!</a> 

  </body>
</html>